__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
config.json
.DS_Store
*.log
.idea/
.vscode/
*.swp
*.swo
*.pyo
*.bat
/doc/
/models/full/
/models/gguf/
/hf_downloads/
/models/llama.cpp/
*.json
*.safetensors
.env
/optimizer/
medium_article_llm_on_cpu.md
models/
